body{
    background-attachment: fixed;
}

#gameTitle {
    border-radius: 10px;
    text-transform: uppercase;
    color: white;
}

.question_section {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    width: 80%;
}
