*{
    margin: 0;
    padding: 0;
}
body{
    font-family: DyslexicFZF, sans-serif;
    color: white;
}
.container{
    width: 100%;
}

#banner{
    background-image: linear-gradient(to right top, #6d1167, #750082, #7500a1, #6a00c4, #4412eb);
    width: 100%;
    padding-top: 5%;
}
button {
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

button:hover .button_top {
    transform: translateY(-0.33em);
}

button:active .button_top {
    transform: translateY(0);
}

.img-fluid{
    height: auto;
}

#logincontainer{
    border-radius: 5px;
}

#cardtext{
    color: #6a00c4;
}

/*-------------Login Input Field-------------------*/
.transition,form .fancy-input label, form .fancy-input input[type="text"] {
    -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    transition: all 0.25s cubic-bezier(0.55, 0.01, 0.35, 1.5);
}

form {
    position: relative;
    display: inline-block;
    max-width: 700px;
    min-width: 500px;
    box-sizing: border-box;
    padding: 30px 25px;
    background-color: white;
    border-radius: 40px;
    margin: 40px 0;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
form h1 {
    color: #6d1167;
    font-weight: 100;
    letter-spacing: 0.01em;
    margin-left: 15px;
    margin-bottom: 35px;
}
form button {
    margin-top: 30px;
    background-color: white;
    border: 1px solid #6d1167;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 60px;
    color: #6d1167;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}
form button:hover, form button:focus {
    color: white;
    background-color: #6d1167;
    outline: none;
}
form .fancy-input {
    position: relative;
    padding: 10px 0;
    margin-top: 10px;
}
form .fancy-input:first-of-type {
    padding-top: 1rem;
}
form .fancy-input label {
    transform-origin: left center;
    color: #6d1167;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 17px;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    position: absolute;
    margin-top: -50px;
    z-index: 2;
    pointer-events: none;
}
form .fancy-input input[type="text"] {
    appearance: none;
    background-color: white;
    border: 1px solid #6d1167;
    line-height: 0;
    font-size: 18px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    color: #6d1167;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}
form .fancy-input input[type="text"]:focus {
    outline: none;
    background: #6d1167;
    color: white;
    margin-top: 20px;
}
form .fancy-input input[type="text"]:valid {
    margin-top: 10px;
}
form .fancy-input input[type="text"]:focus ~ label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -50px);
}
form .fancy-input input[type="text"]:valid ~ label {
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -45px) ;
}