*{
    margin: 0;
    padding: 0;
}
body{
    font-family: DyslexicFZF, sans-serif;
    color: white;
}
.container{
    background-image: url('/static/images/background.jpg');
    width: 100%;
}

#banner{
    background-image: linear-gradient(to right top, #6d1167, #750082, #7500a1, #6a00c4, #4412eb);
    width: 100%;
    padding-top: 5%;
}
button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

button:hover .button_top {
    transform: translateY(-0.33em);
}

button:active .button_top {
    transform: translateY(0);
}

.img-fluid{
    height: 90%;
}

#wave_image {
    width: 100%;
}
