<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
    <link type="text/css" rel="stylesheet" href="../css/game_style.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title th:text="${game.getTitle()}"></title>
</head>
<body>

<header th:replace="fragments/header"></header>

<section id="banner">
    <div class="container">
        <div class="row py-3">
            <button type="button" class="btn btn-secondary btn-block btn-lg py-2 px-3" id="gameTitle" th:text="${game.getTitle()}" disabled></button>
        </div>

        <div class="row d-flex justify-content-center my-3">
            <div class="question_section">
                <div class="row d-flex justify-content-center py-3">
                    <div class="py-5">
                        <h1 id="text_question" th:text="${game.getQuestions().get(0).getText()}"></h1>
                        <img id="image_question" th:src="${game.getQuestions().get(0).getText()}" hidden>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col py-5">
                        <a th:each="response : ${game.getQuestions().get(0).getResponses()}" th:text="${response.getText}"
                           type="submit" class="btn btn-outline-secondary btn-lg waves-effect mx-3 my-3">
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<p th:text="${game.id}" id="gameId" hidden></p>
</body>
</html>

<script>
    var id = parseInt(document.getElementById("gameId").innerText);
    console.log(id);

    if(id === 22) {
        console.log("test")
        document.getElementById("image_question").hidden = false;
        document.getElementById("text_question").hidden = true;

        document.getElementById("image_question").setAttribute("width", "400px");


    }
</script>