<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
    <link type="text/css" rel="stylesheet" href="../css/games_style.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Дислексиграм - игри</title>
</head>
<body>

<header th:replace="fragments/header"></header>

<section id="banner">
    <div class="container" id="games_content">
        <div class="row py-4">
            <div class="col">
                <h1>Избери игра:</h1>
            </div>
            <div class="col text-right py-3">
                <button class="px-3" id="user" th:text="${user.getNickname()}" disabled></button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-4" th:each="game : ${games}">
                <div class="card-sl">
                    <div class="card-image">
                        <img
                                th:src="(${game.getImg_url()})" width="350px" height="247px"/>
                    </div>
                    <div class="card-heading" th:text="${game.getTitle()}"></div>
                    <div class="card-text" th:text="${game.getDescription()}"></div>
                    <div class="card-text" style="text-decoration: underline; text-transform: uppercase" th:text="${game.getLevel()}"></div>
                    <a th:href="'/games/' + ${game.getId()}" class="card-button">Играј</a>
                </div>
            </div>
        </div>

    </div>
</section>
</body>
</html>
