<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
    <link type="text/css" rel="stylesheet" href="../css/info_style.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Дислексиграм - информации</title>
</head>
<body>

<header th:replace="fragments/header"></header>

<section id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md py-4">
                <h1 class="py-4 font-weight-bold">Информации</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="info_section py-5 px-4">
                    <p class="info_header first_header">За дислексија:</p>
                    <p class="info_text">Зборот дислексија потекнува од грчкиот збор
                        <b>“dys-”</b> што значи тешкотија и <b>“lexis”</b>, што значи јазик, или
                        дислексијата може да има значење “тешкотии со јазик”.
                        Дислексијата најопшто е позната како потешкотија при
                        читање, пишување и правопис на една личност. Таа
                        вклучува проблеми со идентификувањето на гласовите во
                        говорот и како тие се поврзуваат со буквите и зборовите,
                        односно состојба при која мозокот различно ги процесира
                        пишаниот или говорениот јазик.<p>
                </div>
            </div>
            <div class="col">
                <div class="info_section py-5 px-4">
                    <p class="info_header second_header">За апликацијата:</p>
                    <p class="info_text">Дислексиграм претставува апликација чија цел е да им помогне на децата со ваква попреченост.
                        Апликацијата нуди мини игри во вид на загатки и мали проблеми со цел овие деца да можат на лесен и забавен начин да ги надминат потешкотиите со читање и пишување.
                        Оваа апликација може да се искористи како алатка за тековно следење на напредокот за да се проценат областите на подобрување на вештините за читање и пишување со помош на едноставен квиз.
                    </p>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md">
                <h1 class="font-weight-bold">Контакт</h1>
            </div>
        </div>
        <div class="row py-3 text-center">
            <div class="col">
                <img src="../images/user2.png" class="img-fluid">
                <div>
                    <p>Мила Додевска</p>
                    <p>dodevskamila@gmail.com</p>
                </div>
            </div>
            <div class="col">
                <img src="../images/user1.png" class="img-fluid">
                <p>Дамјан Денковски</p>
                <p>damjandenkovski77@gmail.com</p>
            </div>
            <div class="col">
                <img src="../images/user3.png" class="img-fluid">
                <p>Ивона Китановска</p>
                <p>ivonakitanovska85@gmail.com</p>
            </div>
            <div class="col">
                <img src="../images/user4.png" class="img-fluid">
                <p>Загорка Јованова</p>
                <p>jovanovazagorka@outlook.com</p>
            </div>
        </div>

    </div>
</section>

</body>
</html>