*{
    margin: 0;
    padding: 0;
}
body{
    font-family: DyslexicFZF, sans-serif;
}
.container{
    background-image: url('/images/background.jpg');
    width: 100%;
}

#banner{
    background-image: url('/images/background.jpg');
    width: 100%;
    padding-top: 5%;
}
#morebutton{
    background: url('/images/btn.png') no-repeat;
    background-size: cover;
    height: 100px;
    border: none;
    margin-top: 5px;
    text-align: left;
}
.img-fluid{
    height: 90%;
}
